
 .icon {
 width: 1em; height: 1em;
 vertical-align: -0.15em;
 fill: currentColor;
 overflow: hidden;
 }
#xxx{
    background: white;
    display: block;
  
  }
  body
  {
    margin: 0px;
  }
  
  .actions{
    position : fixed;
    top: 0;
    left: 0;
  }
  .actions svg{
     width:2em;
     height:2em;
     border:1px red solid;
  }
  